/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/admin/index.scss ***!
  \************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

html,
body {
  background-color: #1e2a36;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #060309;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

a i.bi,
button i.bi {
  pointer-events: none;
}

input,
button,
textarea,
select {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 0.875rem;
}

input,
textarea,
select {
  color: #f8faf8;
}

input,
textarea {
  border: 1px solid #536675;
  padding: 0.3rem 0.5rem;
}

input:focus,
textarea:focus {
  border-color: #dcdcdc;
}

input::placeholder,
textarea::placeholder {
  color: #536675;
  font-weight: 400;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center-flex {
  display: flex;
  align-items: center;
}

.flex_show {
  display: flex !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f8faf8;
}
.logo i.bi {
  font-size: 1.8rem;
  margin-bottom: 0.215rem;
  color: #ff5733;
}
.logo span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.25rem;
}

.btn_secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 0.35rem 1.25rem 0.4rem;
  color: #f8faf8;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  background-color: #12121c;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.btn_secondary:hover {
  background-color: #060309;
}

.auth .auth_content {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.auth .auth_content .auth_form {
  background-color: #060309;
  padding: 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  max-width: 450px;
  flex: 1;
}
.auth .auth_content .auth_form .auth_input_field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}
.auth .auth_content .auth_form .auth_input_field label {
  color: #536675;
  font-weight: 500;
  text-transform: capitalize;
}
.auth .auth_content .auth_form .auth_input_field input {
  width: 100%;
  border-radius: 0.25rem;
}
.auth .auth_content .auth_form button {
  width: 100%;
  margin-top: -2rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dashboard .dashboard_aside {
  min-height: 100vh;
  background-color: #12121c;
  padding: 2rem 0;
  position: absolute;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard_aside .dashboard_profile_info img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.dashboard .dashboard_aside .dashboard_profile_info .dashboard_profile_info_text .dashboard_profile_info_text_name {
  color: #536675;
  font-weight: 500;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0.5rem auto 0;
  background-color: #12121c;
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.dashboard .dashboard_aside .dashboard_profile_info .dashboard_profile_info_text .dashboard_profile_info_text_status {
  color: #28a745;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 0.875rem;
  width: fit-content;
  margin: -0.1rem auto 0;
}
.dashboard .dashboard_aside .dashboard_menu {
  padding: 2rem;
}
.dashboard .dashboard_aside .dashboard_menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.dashboard .dashboard_aside .dashboard_menu ul li {
  width: 100%;
}
.dashboard .dashboard_aside .dashboard_menu ul li a {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #536675;
  background-color: #060309;
  padding: 0.5rem 3.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.dashboard .dashboard_aside .dashboard_menu ul li a:hover {
  transform: scale(1.05);
  background-color: #ff5733;
  font-weight: bold;
  color: #f8faf8;
}
.dashboard .dashboard_aside .dashboard_menu .dashboard_logout_btn {
  position: absolute;
  bottom: 1.5rem;
  background-color: #ff5733;
  color: #f8faf8;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 4.5rem;
  border-radius: 0.25rem;
}
.dashboard .dashboard_aside .dashboard_menu .dashboard_logout_btn:hover {
  background-color: #060309;
}
.dashboard .dashboard_content {
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard_content .dashboard_header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #223345;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.dashboard .dashboard_content .dashboard_header .dashboard_toggle_menu {
  background-color: #060309;
  color: #f8faf8;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}
.dashboard .dashboard_content .dashboard_header .dashboard_toggle_menu:hover {
  transform: scale(1.05);
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_logo {
  margin-left: 1rem;
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_notifications {
  margin-left: auto;
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_notifications ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-right: 2rem;
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_notifications ul li a {
  color: #f8faf8;
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-right: 1rem;
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_user_info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.dashboard .dashboard_content .dashboard_header .dashboard_header_user_info span {
  font-weight: 600;
  color: #f8faf8;
  text-transform: capitalize;
  font-size: 0.875rem;
}
.dashboard .dashboard_content .dashboard_title {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  background-color: #060309;
  color: #f8faf8;
  padding: 1rem;
}
.dashboard .dashboard_content .dashboard_inner {
  padding: 1rem;
}
