/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/components/categories_bar.scss ***!
  \*******************************************************************************************************************************************/
.categories_bar {
  margin: 2.5rem 0;
}
.categories_bar ul {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #12121c;
  overflow-x: scroll;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
}
.categories_bar ul::-webkit-scrollbar {
  display: none;
}
.categories_bar ul li a {
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
  color: #536675;
  text-transform: capitalize;
}
.categories_bar ul li a.active, .categories_bar ul li a:hover {
  color: #f8faf8;
  font-weight: 500;
  background-color: #ff5733;
  border-radius: 0.25rem;
}
