/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/components/footer.scss ***!
  \***********************************************************************************************************************************/
.footer {
  background-color: #12121c;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
  margin-top: 2.5rem;
}
.footer .footer_row {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 2rem;
  padding: 3rem 0;
}
.footer .footer_row .footer_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .footer_row .footer_col .footer_logo {
  transform: scale(0.8);
  transform-origin: 0 0;
}
.footer .footer_row .footer_col .footer_description {
  font-weight: 200;
  font-size: 1rem;
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_title {
  color: #f8faf8;
  font-size: 1rem;
  font-weight: 500;
}
.footer .footer_row .footer_col .footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footer_row .footer_col .footer_links ul a {
  color: #536675;
  font-size: 0.875rem;
}
.footer .footer_row .footer_col .footer_links ul a:hover {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info {
  font-size: 0.875rem;
  color: #536675;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info:first-child {
  margin-bottom: 0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info:first-child::after {
  content: "";
  height: 0.05rem;
  background-color: #536675;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info i.bi {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_social_media {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.footer .footer_row .footer_col .footer_social_media a {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_social_media a:hover {
  transform: scale(1.1);
}
.footer .footer_bottom_links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.footer .footer_bottom_links ul li a {
  color: #536675;
  font-size: 0.875rem;
  font-weight: bold;
}
.footer .footer_bottom_links ul li a:hover {
  color: #f8faf8;
}
.footer .footer_bottom {
  background-color: #060309;
  font-size: 0.875rem;
  color: #536675;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0;
}
.footer .footer_bottom p {
  text-align: center;
}
.footer .footer_bottom p i.bi {
  color: #ff5733;
}
.footer .footer_bottom p span {
  font-weight: 400;
  color: #f8faf8;
}
@media screen and (max-width: 880px) {
  .footer .footer_row {
    grid-template-columns: repeat(1, auto);
    row-gap: 2.5rem;
  }
  .footer .footer_row .footer_col .footer_contact_info {
    width: 100%;
  }
  .footer .footer_row .footer_col .footer_contact_info .footer_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
