/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/components/logo.scss ***!
  \*********************************************************************************************************************************/
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f8faf8;
}
.logo i.bi {
  font-size: 1.8rem;
  margin-bottom: 0.215rem;
  color: #ff5733;
}
.logo span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.25rem;
}
