/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/components/main_banner.scss ***!
  \****************************************************************************************************************************************/
.main_banner {
  background-image: url(../../../img/17bea82c897df07d6f68.jpg);
  margin: 2.5rem 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding: 3rem;
}
.main_banner .main_banner_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
  position: relative;
}
.main_banner .main_banner_info .movie_title {
  font-family: "Bebas Neue", sans-serif;
  color: #f8faf8;
  font-size: 2.5rem;
  text-transform: capitalize;
}
.main_banner .main_banner_info .movie_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.main_banner .main_banner_info .movie_info .movie_review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}
.main_banner .main_banner_info .movie_info .movie_review i.bi {
  background-color: #ff5733;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #060309;
  width: 20px;
  height: 20px;
}
.main_banner .main_banner_info .movie_info .movie_review span {
  color: #f8faf8;
}
.main_banner .main_banner_info .movie_info .movie_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main_banner .main_banner_info .movie_info .movie_genres span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: #f8faf8;
  font-size: 0.875rem;
  font-weight: 500;
}
.main_banner .main_banner_info .movie_description p {
  color: #f8faf8;
  font-weight: 500;
  max-width: 50%;
}
.main_banner .film {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
