/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/components/movie_list.scss ***!
  \***************************************************************************************************************************************/
.movie_list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  gap: 1rem;
}
.movie_list .movie_list_card {
  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  height: 330px;
  transition: all 0.3s ease-in-out;
}
.movie_list .movie_list_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -20px;
  filter: grayscale(0.4);
  transition: all 0.3s ease-in-out;
}
.movie_list .movie_list_card .movie_list_card_review,
.movie_list .movie_list_card .movie_list_card_title {
  position: absolute;
}
.movie_list .movie_list_card .movie_list_card_review {
  top: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
.movie_list .movie_list_card .movie_list_card_review i.bi {
  background-color: #ff5733;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #060309;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  font-size: 0.74375rem;
  border-radius: 50%;
}
.movie_list .movie_list_card .movie_list_card_review span {
  color: #f8faf8;
  font-size: 0.83125rem;
  transition: all 0.3s ease-in-out;
}
.movie_list .movie_list_card .movie_list_card_title {
  background-color: #060309;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movie_list .movie_list_card .movie_list_card_title span {
  color: #536675;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.movie_list .movie_list_card:hover {
  transform: scale(1.025);
}
.movie_list .movie_list_card:hover img {
  transform: scale(1.05);
  filter: grayscale(0);
}
.movie_list .movie_list_card:hover .movie_list_card_review span {
  font-weight: 500;
}
.movie_list .movie_list_card:hover .movie_list_card_title span {
  color: #f8faf8;
  font-weight: 500;
}
