/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/components/navbar.scss ***!
  \***********************************************************************************************************************************/
.navbar {
  background-color: #12121c;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
}
.navbar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
}
.navbar nav .navbar_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navbar nav .navbar_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar nav .navbar_menu ul .navbar_link {
  color: #536675;
  font-weight: 500;
}
.navbar nav .navbar_menu ul .navbar_link:hover {
  color: #f8faf8;
}
.navbar nav .navbar_menu form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.navbar nav .navbar_menu form input {
  border-radius: 0.25rem;
  padding-right: 2.3rem;
  font-size: 0.875rem;
}
.navbar nav .navbar_menu form button {
  color: #f8faf8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0.15rem;
}
.navbar nav .navbar_menu form button:hover {
  transform: scale(1.1);
}
.navbar nav .navbar_toggle_menu {
  position: absolute;
  color: #f8faf8;
  top: 1.3rem;
  right: 1rem;
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 880px) {
  .navbar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1rem 0;
    gap: 2rem;
  }
  .navbar nav .navbar_menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: none;
    width: 100%;
  }
  .navbar nav .navbar_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .navbar nav .navbar_menu ul li {
    width: 100%;
    text-align: center;
  }
  .navbar nav .navbar_menu ul li a.btn_primary {
    margin-top: 1rem;
    width: 100%;
  }
  .navbar nav .navbar_menu form {
    width: 100%;
  }
  .navbar nav .navbar_menu form input {
    width: 100%;
  }
  .navbar nav .navbar_toggle_menu {
    display: block;
  }
}
