/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/index.scss ***!
  \***********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

html,
body {
  background-color: #1e2a36;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #060309;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

a i.bi,
button i.bi {
  pointer-events: none;
}

input,
button,
textarea,
select {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 0.875rem;
}

input,
textarea,
select {
  color: #f8faf8;
}

input,
textarea {
  border: 1px solid #536675;
  padding: 0.3rem 0.5rem;
}

input:focus,
textarea:focus {
  border-color: #dcdcdc;
}

input::placeholder,
textarea::placeholder {
  color: #536675;
  font-weight: 400;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center-flex {
  display: flex;
  align-items: center;
}

.flex_show {
  display: flex !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.auth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/30ff2c134940345406e8.png);
  min-height: calc(100vh - 4.5rem);
  width: 100%;
}
.auth .auth_header .auth_logo {
  padding: 2rem 2rem 0 2rem;
}
.auth .auth_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4.5rem);
}
.auth .auth_content .auth_form {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.auth .auth_content .auth_form .auth_title {
  color: #ff5733;
  font-weight: 500;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
.auth .auth_content .auth_form .auth_input_field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.auth .auth_content .auth_form .auth_input_field label {
  color: #f8faf8;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.auth .auth_content .auth_form .auth_input_field input {
  width: 100%;
  border-radius: 0.25rem;
}
.auth .auth_content .auth_form .auth_input_field input#password, .auth .auth_content .auth_form .auth_input_field input#password_confirmation {
  padding-right: 1.8rem;
}
.auth .auth_content .auth_form .auth_input_field .pass_visible_toggle {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
}
.auth .auth_content .auth_form .auth_input_field .pass_visible_toggle button {
  color: #f8faf8;
}
.auth .auth_content .auth_form .auth_input_field .pass_visible_toggle button.pass_visible_toggle_hidden {
  display: none;
}
.auth .auth_content .auth_form button {
  width: 100%;
}
.auth .auth_content .auth_form .auth_toggle_text {
  color: #f8faf8;
  font-size: 0.83125rem;
  text-align: center;
  width: 100%;
}
.auth .auth_content .auth_form .auth_toggle_text a {
  color: #ff5733;
  font-weight: 600;
}
@media screen and (max-width: 780px) {
  .auth .auth_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f8faf8;
}
.logo i.bi {
  font-size: 1.8rem;
  margin-bottom: 0.215rem;
  color: #ff5733;
}
.logo span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.25rem;
}

.btn_primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 0.35rem 1.25rem 0.4rem;
  color: #f8faf8;
  background-color: #ff5733;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.btn_primary:hover {
  background-color: #060309;
}

.navbar {
  background-color: #12121c;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
}
.navbar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
}
.navbar nav .navbar_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navbar nav .navbar_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar nav .navbar_menu ul .navbar_link {
  color: #536675;
  font-weight: 500;
}
.navbar nav .navbar_menu ul .navbar_link:hover {
  color: #f8faf8;
}
.navbar nav .navbar_menu form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.navbar nav .navbar_menu form input {
  border-radius: 0.25rem;
  padding-right: 2.3rem;
  font-size: 0.875rem;
}
.navbar nav .navbar_menu form button {
  color: #f8faf8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0.15rem;
}
.navbar nav .navbar_menu form button:hover {
  transform: scale(1.1);
}
.navbar nav .navbar_toggle_menu {
  position: absolute;
  color: #f8faf8;
  top: 1.3rem;
  right: 1rem;
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 880px) {
  .navbar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1rem 0;
    gap: 2rem;
  }
  .navbar nav .navbar_menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: none;
    width: 100%;
  }
  .navbar nav .navbar_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .navbar nav .navbar_menu ul li {
    width: 100%;
    text-align: center;
  }
  .navbar nav .navbar_menu ul li a.btn_primary {
    margin-top: 1rem;
    width: 100%;
  }
  .navbar nav .navbar_menu form {
    width: 100%;
  }
  .navbar nav .navbar_menu form input {
    width: 100%;
  }
  .navbar nav .navbar_toggle_menu {
    display: block;
  }
}

@keyframes img_zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes info_from_below {
  from {
    opacity: 0;
    transform: translate(0, 100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.main_banner {
  margin: 2.5rem 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 550px;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
  padding: 3rem;
}
.main_banner .main_banner_img {
  animation: img_zoom 16s ease-in-out 0s infinite alternate;
  background-image: url(../../img/17bea82c897df07d6f68.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main_banner .main_banner_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
  position: relative;
}
.main_banner .main_banner_info .movie_title {
  opacity: 0;
  transform: translate(0, 100%);
  animation: info_from_below 1s ease-in 0.8s 1 forwards;
}
.main_banner .main_banner_info .movie_title h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #f8faf8;
  font-size: 3.5rem;
  text-transform: capitalize;
}
.main_banner .main_banner_info .movie_info {
  opacity: 0;
  transform: translate(0, 100%);
  animation: info_from_below 1s ease-in 1.2s 1 forwards;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.main_banner .main_banner_info .movie_info .movie_review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}
.main_banner .main_banner_info .movie_info .movie_review i.bi {
  background-color: #ff5733;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #060309;
  width: 20px;
  height: 20px;
}
.main_banner .main_banner_info .movie_info .movie_review span {
  color: #f8faf8;
}
.main_banner .main_banner_info .movie_info .movie_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main_banner .main_banner_info .movie_info .movie_genres span {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: #f8faf8;
  font-size: 0.875rem;
  font-weight: 500;
}
.main_banner .main_banner_info .movie_description {
  opacity: 0;
  transform: translate(0, 100%);
  animation: info_from_below 1s ease-in 1.6s 1 forwards;
}
.main_banner .main_banner_info .movie_description p {
  color: #f8faf8;
  font-weight: 500;
  max-width: 50%;
}
.main_banner .main_banner_info .btn_primary {
  opacity: 0;
  transform: translate(0, 100%);
  animation: info_from_below 1s ease-in 2s 1 forwards;
}
.main_banner .film {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 880px) {
  .main_banner .main_banner_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  .main_banner .main_banner_info .movie_description p {
    max-width: 100vw;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .main_banner .main_banner_info .movie_title h2 {
    font-size: 12vw;
  }
  .main_banner .btn_primary {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .main_banner {
    padding: 1rem;
  }
  .main_banner .main_banner_info .movie_description p {
    font-size: 0.83125rem;
  }
}

.featured_movies {
  margin: 2.5rem 0;
}
.featured_movies h3 {
  color: #f8faf8;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.featured_movies .featured_movies_slides {
  overflow-x: hidden;
  width: 100%;
}
.featured_movies .featured_movies_slides .featured_movies_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card {
  overflow: hidden;
  flex: 0 0 213px;
  height: 320px;
  border-radius: 0.25rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: all 0.3s ease-in-out;
  object-position: 0 -16px;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #12121c;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.25rem;
  color: #536675;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card:hover img {
  transform: scale(1.05);
  filter: grayscale(0);
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card:hover span {
  color: #f8faf8;
}

.categories_bar {
  margin: 2.5rem 0;
}
.categories_bar ul {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #12121c;
  overflow-x: scroll;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
}
.categories_bar ul::-webkit-scrollbar {
  display: none;
}
.categories_bar ul li a {
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
  color: #536675;
  text-transform: capitalize;
}
.categories_bar ul li a.active, .categories_bar ul li a:hover {
  color: #f8faf8;
  font-weight: 500;
  background-color: #ff5733;
  border-radius: 0.25rem;
}

.movie_list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  gap: 1rem;
}
.movie_list .movie_list_card {
  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
  height: 330px;
  transition: all 0.3s ease-in-out;
}
.movie_list .movie_list_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -20px;
  filter: grayscale(0.4);
  transition: all 0.3s ease-in-out;
}
.movie_list .movie_list_card .movie_list_card_review,
.movie_list .movie_list_card .movie_list_card_title {
  position: absolute;
}
.movie_list .movie_list_card .movie_list_card_review {
  top: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
.movie_list .movie_list_card .movie_list_card_review i.bi {
  background-color: #ff5733;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #060309;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  font-size: 0.74375rem;
  border-radius: 50%;
}
.movie_list .movie_list_card .movie_list_card_review span {
  color: #f8faf8;
  font-size: 0.83125rem;
  transition: all 0.3s ease-in-out;
}
.movie_list .movie_list_card .movie_list_card_title {
  background-color: #060309;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movie_list .movie_list_card .movie_list_card_title span {
  color: #536675;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
  padding: 0 0.5rem;
  overflow: hidden;
}
.movie_list .movie_list_card:hover {
  transform: scale(1.025);
}
.movie_list .movie_list_card:hover img {
  transform: scale(1.05);
  filter: grayscale(0);
}
.movie_list .movie_list_card:hover .movie_list_card_review span {
  font-weight: 500;
}
.movie_list .movie_list_card:hover .movie_list_card_title span {
  color: #f8faf8;
  font-weight: 500;
}
@media screen and (max-width: 1050px) {
  .movie_list {
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (max-width: 850px) {
  .movie_list {
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 650px) {
  .movie_list {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 450px) {
  .movie_list {
    grid-template-columns: repeat(1, auto);
  }
  .movie_list .movie_list_card {
    height: 480px;
  }
}

.movie_pagination {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.movie_pagination .movie_pagination_prev a,
.movie_pagination .movie_pagination_next a {
  background-color: #223345;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.movie_pagination .movie_pagination_prev a i.bi,
.movie_pagination .movie_pagination_next a i.bi {
  color: #12121c;
  z-index: 2;
}
.movie_pagination .movie_pagination_prev a:hover,
.movie_pagination .movie_pagination_next a:hover {
  background-color: #12121c;
  transform: scale(1.1);
}
.movie_pagination .movie_pagination_prev a:hover i.bi,
.movie_pagination .movie_pagination_next a:hover i.bi {
  color: #223345;
}
.movie_pagination .movie_pagination_pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.movie_pagination .movie_pagination_pages span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-weight: bold;
}
.movie_pagination .movie_pagination_pages a {
  background-color: #12121c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #f8faf8;
  border-radius: 50%;
  font-size: 0.83125rem;
}
.movie_pagination .movie_pagination_pages a:hover, .movie_pagination .movie_pagination_pages a.active {
  background-color: #f8faf8;
  color: #12121c;
  font-weight: bold;
  transform: scale(1.05);
}

.footer {
  background-color: #12121c;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
  margin-top: 2.5rem;
}
.footer .footer_row {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 2rem;
  padding: 3rem 0;
}
.footer .footer_row .footer_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .footer_row .footer_col .footer_logo {
  transform: scale(0.8);
  transform-origin: 0 0;
}
.footer .footer_row .footer_col .footer_description {
  font-weight: 200;
  font-size: 1rem;
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_title {
  color: #f8faf8;
  font-size: 1rem;
  font-weight: 500;
}
.footer .footer_row .footer_col .footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footer_row .footer_col .footer_links ul a {
  color: #536675;
  font-size: 0.875rem;
}
.footer .footer_row .footer_col .footer_links ul a:hover {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info {
  font-size: 0.875rem;
  color: #536675;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info:first-child {
  margin-bottom: 0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info:first-child::after {
  content: "";
  height: 0.05rem;
  background-color: #536675;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info i.bi {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_social_media {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.footer .footer_row .footer_col .footer_social_media a {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_social_media a:hover {
  transform: scale(1.1);
}
.footer .footer_bottom {
  background-color: #060309;
  font-size: 0.875rem;
  color: #536675;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0;
}
.footer .footer_bottom p {
  text-align: center;
}
.footer .footer_bottom p i.bi {
  color: #ff5733;
}
.footer .footer_bottom p span {
  font-weight: 400;
  color: #f8faf8;
}
@media screen and (max-width: 880px) {
  .footer .footer_row {
    grid-template-columns: repeat(1, auto);
    row-gap: 2.5rem;
  }
  .footer .footer_row .footer_col .footer_contact_info {
    width: 100%;
  }
  .footer .footer_row .footer_col .footer_contact_info .footer_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .footer .footer_row .footer_col .footer_description p {
    text-align: center;
  }
}

.profile {
  margin-top: 2.5rem;
  min-height: calc(100vh - 400px);
}
.profile .profile_title {
  color: #f8faf8;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.profile .profile_title span {
  color: #ff5733;
  font-weight: bold;
}
.profile .profile_container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  gap: 1rem;
}
.profile .profile_container .profile_menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.7)), url(../../img/30ff2c134940345406e8.png);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.125);
}
.profile .profile_container .profile_menu .profile_user_info {
  margin-bottom: 1rem;
}
.profile .profile_container .profile_menu .profile_user_info .profile_user_img {
  overflow: hidden;
  position: relative;
}
.profile .profile_container .profile_menu .profile_user_info .profile_user_img label {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 120px;
  width: 120px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}
.profile .profile_container .profile_menu .profile_user_info .profile_user_img label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.profile .profile_container .profile_menu .profile_user_info .profile_user_img label span {
  position: absolute;
  color: #f8faf8;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  width: 100%;
  left: 50%;
  bottom: -5rem;
  padding-top: 0.5rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.profile .profile_container .profile_menu .profile_user_info .profile_user_img label:hover img {
  filter: grayscale(0.5);
}
.profile .profile_container .profile_menu .profile_user_info .profile_user_img label:hover span {
  opacity: 1;
  bottom: -2.5rem;
}
.profile .profile_container .profile_menu ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.profile .profile_container .profile_menu ul li {
  flex: 1;
  width: 100%;
}
.profile .profile_container .profile_menu ul li a {
  color: #f8faf8;
  background-color: #1e2a36;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.profile .profile_container .profile_menu ul li a.active, .profile .profile_container .profile_menu ul li a:hover {
  background-color: #223345;
  font-weight: bold;
  transform: scale(1.025);
}
.profile .profile_container .profile_content .profile_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.profile .profile_container .profile_content .profile_form .profile_form_title {
  font-weight: 500;
  color: #12121c;
  font-weight: bolder;
  text-transform: capitalize;
}
.profile .profile_container .profile_content .profile_form #photo {
  display: none;
}
.profile .profile_container .profile_content .profile_form .profile_input_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  position: relative;
}
.profile .profile_container .profile_content .profile_form .profile_input_field label {
  color: #536675;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: bold;
}
.profile .profile_container .profile_content .profile_form .profile_input_field input {
  border-radius: 0.25rem;
  width: 100%;
}
.profile .profile_container .profile_content .profile_form .profile_input_field input#password, .profile .profile_container .profile_content .profile_form .profile_input_field input#password_confirmation {
  padding-right: 2.25rem;
}
.profile .profile_container .profile_content .profile_form .profile_input_field .pass_visible_toggle {
  position: absolute;
  top: 1.9rem;
  right: 0.8rem;
}
.profile .profile_container .profile_content .profile_form .profile_input_field .pass_visible_toggle button {
  color: #f8faf8;
}
.profile .profile_container .profile_content .profile_form .profile_input_field .pass_visible_toggle .pass_visible_toggle_hidden {
  display: none;
}
@media screen and (max-width: 880px) {
  .profile .profile_title {
    text-align: center;
    font-size: 1.5rem;
  }
  .profile .profile_container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .profile .profile_container .profile_menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .profile .profile_container .profile_menu ul li a.active, .profile .profile_container .profile_menu ul li a:hover {
    transform: scale(1.01);
  }
}
@media screen and (max-width: 576px) {
  .profile .profile_container .profile_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile .profile_container .profile_content .profile_form button {
    width: 100%;
  }
}
