/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/site/index.scss ***!
  \***********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

a {
  text-decoration: none;
  color: #060309;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

input,
button,
textarea,
select {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 0.875rem;
}

input,
textarea,
select {
  color: #f8faf8;
}

input,
textarea {
  border: 1px solid #536675;
  padding: 0.3rem 0.5rem;
}

input:focus,
textarea:focus {
  border-color: #dcdcdc;
}

input::placeholder,
textarea::placeholder {
  color: #536675;
  font-weight: 400;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

body {
  background-color: #1e2a36;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f8faf8;
}
.logo i.bi {
  font-size: 1.8rem;
  margin-bottom: 0.215rem;
  color: #ff5733;
}
.logo span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.25rem;
}

.btn_primary {
  background-color: #ff5733;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #f8faf8;
  font-weight: 500;
  text-transform: capitalize;
}
.btn_primary:hover {
  background-color: #12121c;
}

.navbar {
  background-color: #12121c;
}
.navbar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.navbar .navbar_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navbar .navbar_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar .navbar_menu ul .navbar_link {
  color: #536675;
  font-weight: 500;
}
.navbar .navbar_menu ul .navbar_link:hover {
  color: #f8faf8;
}
.navbar .navbar_menu form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.navbar .navbar_menu form input {
  border-radius: 0.25rem;
  padding-right: 2.3rem;
  font-size: 0.875rem;
}
.navbar .navbar_menu form button {
  color: #f8faf8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0.15rem;
}
.navbar .navbar_menu form button:hover {
  transform: scale(1.1);
}

.main_banner {
  background-image: url(../../img/17bea82c897df07d6f68.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2.5rem 0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding: 3rem;
}
.main_banner .main_banner_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
  position: relative;
}
.main_banner .main_banner_info .movie_title h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #f8faf8;
  font-size: 3.5rem;
  text-transform: capitalize;
}
.main_banner .main_banner_info .movie_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.main_banner .main_banner_info .movie_info .movie_review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}
.main_banner .main_banner_info .movie_info .movie_review i.bi {
  background-color: #ff5733;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #060309;
  width: 20px;
  height: 20px;
}
.main_banner .main_banner_info .movie_info .movie_review span {
  color: #f8faf8;
}
.main_banner .main_banner_info .movie_info .movie_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main_banner .main_banner_info .movie_info .movie_genres span {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: #f8faf8;
  font-size: 0.875rem;
  font-weight: 500;
}
.main_banner .main_banner_info .movie_description p {
  color: #f8faf8;
  font-weight: 500;
  max-width: 50%;
}
.main_banner .film {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.featured_movies {
  margin: 2.5rem 0;
}
.featured_movies h3 {
  color: #f8faf8;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.featured_movies .featured_movies_slides {
  overflow: hidden;
  width: 100%;
}
.featured_movies .featured_movies_slides .featured_movies_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card {
  overflow: hidden;
  flex: 0 0 213px;
  height: 320px;
  border-radius: 0.25rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: all 0.3s ease-in-out;
  object-position: 0 -16px;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #12121c;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  color: #536675;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card:hover img {
  transform: scale(1.05);
  filter: grayscale(0);
}
.featured_movies .featured_movies_slides .featured_movies_container .featured_movie_slide_card:hover span {
  color: #f8faf8;
}

.categories_bar {
  margin: 2.5rem 0;
}
.categories_bar ul {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #12121c;
  overflow-x: scroll;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
}
.categories_bar ul::-webkit-scrollbar {
  display: none;
}
.categories_bar ul li a {
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
  color: #536675;
  text-transform: capitalize;
}
.categories_bar ul li a.active, .categories_bar ul li a:hover {
  color: #f8faf8;
  font-weight: 500;
  background-color: #ff5733;
  border-radius: 0.25rem;
}

.footer {
  background-color: #12121c;
}
.footer .footer_row {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 2rem;
  padding: 3rem 0;
}
.footer .footer_row .footer_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.footer .footer_row .footer_col .footer_logo {
  transform: scale(0.8);
  transform-origin: 0 0;
}
.footer .footer_row .footer_col .footer_description {
  font-weight: 200;
  font-size: 1rem;
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_title {
  color: #f8faf8;
  font-size: 1rem;
  font-weight: 500;
}
.footer .footer_row .footer_col .footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footer_row .footer_col .footer_links ul a {
  color: #536675;
  font-size: 0.875rem;
}
.footer .footer_row .footer_col .footer_links ul a:hover {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info {
  font-size: 0.875rem;
  color: #536675;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info:first-child {
  margin-bottom: 0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info:first-child::after {
  content: "";
  height: 0.05rem;
  background-color: #536675;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
}
.footer .footer_row .footer_col .footer_contact_info .footer_info i.bi {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_social_media {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.footer .footer_row .footer_col .footer_social_media a {
  color: #f8faf8;
}
.footer .footer_row .footer_col .footer_social_media a:hover {
  transform: scale(1.1);
}
.footer .footer_bottom {
  background-color: #060309;
  font-size: 0.875rem;
  color: #536675;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0;
}
.footer .footer_bottom p {
  text-align: center;
}
.footer .footer_bottom p i.bi {
  color: #ff5733;
}
.footer .footer_bottom p span {
  font-weight: 400;
  color: #f8faf8;
}
