/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/admin/components/btn_secondary.scss ***!
  \*******************************************************************************************************************************************/
.btn_secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 0.35rem 1.25rem 0.4rem;
  color: #f8faf8;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  background-color: #12121c;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.btn_secondary:hover {
  background-color: #060309;
}
