/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/src/scss/_base.scss ***!
  \******************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

html,
body {
  background-color: #1e2a36;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #060309;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

input,
button,
textarea,
select {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 0.875rem;
}

input,
textarea,
select {
  color: #f8faf8;
}

input,
textarea {
  border: 1px solid #536675;
  padding: 0.3rem 0.5rem;
}

input:focus,
textarea:focus {
  border-color: #dcdcdc;
}

input::placeholder,
textarea::placeholder {
  color: #536675;
  font-weight: 400;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center-flex {
  display: flex;
  align-items: center;
}

.show {
  display: flex !important;
}
