@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $ff-primary;
	outline: none;
}

html,
body {
	background-color: $secondary-color;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: $black-color;
	font-size: $fs-medium;
	transition: all 0.3s ease-in-out;
}

a i.bi,
button i.bi {
	pointer-events: none;
}

input,
button,
textarea,
select {
	border: none;
	border-radius: 0;
	background-color: transparent;
	font-size: $fs-small;
}

input,
textarea,
select {
	color: $white-color;
}

input,
textarea {
	border: 1px solid $gray-color;
	padding: $spacing-unit * 0.3 $spacing-unit * 0.5;
}

input:focus,
textarea:focus {
	border-color: $border-color;
}

input::placeholder,
textarea::placeholder {
	color: $gray-color;
	font-weight: 400;
	font-size: $fs-small;
}

button {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

ul {
	list-style: none;
}

.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-center-flex {
	display: flex;
	align-items: center;
}

.flex_show {
	display: flex !important;
}
