@import './variables';

.logo {
	display: flex;
	align-items: center;
	gap: $spacing-unit * 0.5;
	color: $white-color;

	i.bi {
		font-size: 1.8rem;
		margin-bottom: 0.215rem;
	}

	span {
		font-family: $ff-logo;
		font-size: 2.25rem;
	}
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 $spacing-unit * 0.5;
}
