@import './base';

// Navbar

.navbar {
	background-color: $primary-color;

	nav {
		@include flex(row, center, space-between);
		height: 80px;
	}

	.navbar_menu {
		@include flex;
		gap: $spacing-unit * 2;

		ul {
			@include flex;
			gap: $spacing-unit;

			.navbar_link {
				color: $gray-color;
				font-weight: 500;

				&:hover {
					color: $white-color;
				}
			}
		}

		form {
			@include flex(row, center, flex-start);
			position: relative;

			input {
				border-radius: 0.25rem;
				padding-right: 2.3rem;
				font-size: $fs-small;
			}

			button {
				color: $white-color;
				@include flex;
				padding: 0.5rem;
				position: absolute;
				right: 0.15rem;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

// Footer

.footer {
	background-color: $primary-color;

	.footer_row {
		display: grid;
		grid-template-columns: repeat(3, 33%);
		column-gap: 2rem;
		padding: 3rem 0;

		.footer_col {
			@include flex(column, flex-start, flex-start);
			gap: $spacing-unit;

			.footer_logo {
				transform: scale(0.8);
				transform-origin: 0 0;
			}

			.footer_description {
				font-weight: 200;
				font-size: $fs-medium;
				color: $white-color;
			}

			.footer_title {
				color: $white-color;
				font-size: $fs-medium;
				font-weight: 500;
			}

			.footer_links {
				ul {
					@include flex(column, flex-start, center);
					gap: $spacing-unit * 0.5;

					a {
						color: $gray-color;
						font-size: $fs-small;

						&:hover {
							color: $white-color;
						}
					}
				}
			}

			.footer_contact_info {
				@include flex(column, flex-start, center);
				gap: 0.5rem;

				.footer_info {
					font-size: $fs-small;
					color: $gray-color;
					@include flex;
					gap: 0.5rem;
					position: relative;

					&:first-child {
						margin-bottom: 0.5rem;

						&::after {
							content: '';
							height: 0.05rem;
							background-color: $gray-color;
							width: 100%;
							position: absolute;
							bottom: -0.5rem;
						}
					}

					i.bi {
						color: $white-color;
					}
				}
			}

			.footer_social_media {
				margin-top: 2rem;
				@include flex(row, flex-start);
				gap: $spacing-unit;

				a {
					color: $white-color;

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	.footer_bottom {
		background-color: $black-color;
		font-size: $fs-small;
		color: $gray-color;
		font-weight: 300;
		@include flex;
		padding: 0.7rem 0;

		p {
			text-align: center;

			i.bi {
				color: $highlight-color;
			}

			span {
				font-weight: 400;
				color: $white-color;
			}
		}
	}
}
