@import '../../mixins';
@import '../../variables';

.btn_primary {
	@include flex;
	gap: 0.35rem;
	padding: 0.35rem 1.25rem 0.4rem;
	color: $white-color;
	background-color: $highlight-color;
	border-radius: 0.25rem;
	font-size: $fs-medium * 0.95;
	font-weight: 400;
	text-transform: capitalize;
	text-align: center;

	&:hover {
		background-color: $black-color;
	}
}
