@import '../../mixins';
@import '../../variables';

.movie_list {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: auto;
	gap: 1rem;

	.movie_list_card {
		overflow: hidden;
		border-radius: 0.25rem;
		position: relative;
		box-shadow: $bshadow;
		height: 330px;
		transition: all 0.3s ease-in-out;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 0 -20px;
			filter: grayscale(0.4);
			transition: all 0.3s ease-in-out;
		}

		.movie_list_card_review,
		.movie_list_card_title {
			position: absolute;
		}

		.movie_list_card_review {
			top: 1rem;
			right: 1rem;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 0.25rem;
			@include flex;
			padding: 0.5rem;
			gap: 0.5rem;

			i.bi {
				background-color: $highlight-color;
				display: flex;
				@include flex;
				color: $black-color;
				width: 20px;
				height: 20px;
				padding: 0.2rem;
				font-size: $fs-small * 0.85;
				border-radius: 50%;
			}

			span {
				color: $white-color;
				font-size: $fs-small * 0.95;
				transition: all 0.3s ease-in-out;
			}
		}

		.movie_list_card_title {
			background-color: $black-color;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0.5rem 0;
			@include flex;

			span {
				color: $gray-color;
				text-transform: capitalize;
				transition: all 0.3s ease-in-out;
				text-align: center;
				text-overflow: ellipsis;
				text-wrap: nowrap;
				width: 100%;
				padding: 0 0.5rem;
				overflow: hidden;
			}
		}

		&:hover {
			transform: scale(1.025);

			img {
				transform: scale(1.05);
				filter: grayscale(0);
			}

			.movie_list_card_review {
				span {
					font-weight: 500;
				}
			}

			.movie_list_card_title {
				span {
					color: $white-color;
					font-weight: 500;
				}
			}
		}
	}

	@media screen and (max-width: 1050px) {
		grid-template-columns: repeat(4, auto);
	}

	@media screen and (max-width: 850px) {
		grid-template-columns: repeat(3, auto);
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: repeat(2, auto);
	}

	@media screen and (max-width: 450px) {
		grid-template-columns: repeat(1, auto);

		.movie_list_card {
			height: 480px;
		}
	}
}
