@import '../../mixins';
@import '../../variables';

.profile {
	margin-top: 2.5rem;
	min-height: calc(100vh - 400px);

	.profile_title {
		color: $white-color;
		font-weight: 500;
		font-size: 2rem;
		margin-bottom: 1rem;

		span {
			color: $highlight-color;
			font-weight: bold;
		}
	}

	.profile_container {
		display: grid;
		grid-template-columns: 250px auto;
		grid-template-rows: auto;
		gap: 1rem;

		.profile_menu {
			background-image: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.7)),
				url('@img/auth_bg.png');
			padding: 1.5rem 1rem;
			border-radius: 0.25rem;
			box-shadow: $bshadow;

			.profile_user_info {
				margin-bottom: 1rem;

				.profile_user_img {
					overflow: hidden;
					position: relative;

					label {
						position: relative;
						cursor: pointer;
						overflow: hidden;
						height: 120px;
						width: 120px;
						display: block;
						border-radius: 50%;
						margin: 0 auto;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							display: block;
							margin-bottom: 2.5rem;
							transition: all 0.3s ease-in-out;
						}

						span {
							position: absolute;
							color: $white-color;
							background-color: rgba(0, 0, 0, 0.5);
							height: 80px;
							width: 100%;
							left: 50%;
							bottom: -5rem;
							padding-top: 0.5rem;
							transform: translateX(-50%);
							@include flex(row, flex-start, center);
							font-weight: 500;
							transition: all 0.3s ease-in-out;
							opacity: 0;
						}

						&:hover {
							img {
								filter: grayscale(0.5);
							}

							span {
								opacity: 1;
								bottom: -2.5rem;
							}
						}
					}
				}
			}

			ul {
				flex: 1;
				@include flex(column, flex-start, center);
				gap: 1rem;
				width: 100%;

				li {
					flex: 1;
					width: 100%;

					a {
						color: $white-color;
						background-color: $secondary-color;
						width: 100%;
						@include flex;
						padding: 0.5rem;
						border-radius: 0.25rem;
						text-transform: capitalize;

						&.active,
						&:hover {
							background-color: $tertiary-color;
							font-weight: bold;
							transform: scale(1.025);
						}
					}
				}
			}
		}

		.profile_content {
			.profile_form {
				@include flex(column, flex-start, center);
				gap: 1rem;
				width: 100%;

				.profile_form_title {
					font-weight: 500;
					color: $primary-color;
					font-weight: bolder;
					text-transform: capitalize;
				}

				#photo {
					display: none;
				}

				.profile_input_field {
					@include flex(column, flex-start, center);
					width: 100%;
					gap: 0.5rem;
					position: relative;

					label {
						color: $gray-color;
						font-size: $fs-small;
						text-transform: capitalize;
						font-weight: bold;
					}

					input {
						border-radius: 0.25rem;
						width: 100%;

						&#password,
						&#password_confirmation {
							padding-right: 2.25rem;
						}
					}

					.pass_visible_toggle {
						position: absolute;
						top: 1.9rem;
						right: 0.8rem;

						button {
							color: $white-color;
						}

						.pass_visible_toggle_hidden {
							display: none;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 880px) {
		.profile_title {
			text-align: center;
			font-size: 1.5rem;
		}

		.profile_container {
			display: grid;
			grid-template-columns: repeat(1, 100%);

			.profile_menu {
				ul {
					@include flex(row);

					li {
						a {
							&.active,
							&:hover {
								transform: scale(1.01);
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 576px) {
		.profile_container {
			.profile_menu {
				ul {
					@include flex(column);
				}
			}

			.profile_content {
				.profile_form {
					button {
						width: 100%;
					}
				}
			}
		}
	}
}
