@import '../../mixins';
@import '../../variables';

@keyframes form_from_below {
	from {
		opacity: 0;
		transform: translate(0, 100%);
	}

	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.auth {
	.auth_content {
		min-height: 100vh;
		@include flex;

		.auth_form {
			background-color: $black-color;
			padding: 1.5rem;
			border-radius: 0.25rem;
			@include flex(column);
			gap: 0.8rem;
			max-width: 450px;
			flex: 1;
			opacity: 0;
			transform: translate(0, 100%);
			animation: form_from_below 1s ease-in 0.3s 1 forwards;

			.auth_input_field {
				width: 100%;
				@include flex(column, flex-start);
				gap: 0.25rem;

				label {
					color: $gray-color;
					font-weight: 500;
					text-transform: capitalize;
				}

				input {
					width: 100%;
					border-radius: 0.25rem;
				}

				.auth_form_error {
					color: $error-color;
					font-weight: 300;
					font-size: 0.9rem;
					text-align: center;
					width: 100%;
					margin-top: 0.2rem;
				}
			}

			button {
				width: 100%;
				margin-top: -2rem;
			}
		}
	}
}
